@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');

:root{
    --green:#27ae60;
    --second-hue: 219;
    --container-color: hsl(var(--second-hue), 32%, 12%);
    --text-color: hsl(var(--second-hue), 8%, 75%);
    --body-color: hsl(var(--second-hue), 48%, 8%);
}

*{
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Fredoka', sans-serif; */
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:#fff;
}

html::-webkit-scrollbar-thumb{
    background: goldenrod;
}

body{
    background:var(--body-color);
}

section{
    padding:2rem 9%;
    min-height: 100vh;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color:goldenrod;
}

header{
    background-color: transparent;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 9%;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-branding img{
    width: 150px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    height: 3px;
    width: 30px;
    margin: 5px auto;
    background-color: #fff;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background: transparent;
    color:#fff;
    border: 1px solid goldenrod;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover{
    background:goldenrod;
    letter-spacing: .2rem;
    border: 1px solid #fff;
    color: #333;
}

.logo{
    width: 150px;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #particles-js{
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height:100%;
    width:100%;
}

.home .content{
    text-align: center;
    position: relative;
    z-index: 1;
}

.home .content img{
    height: 25rem;
    width:25rem;
    border-radius: 50%;
    object-fit: cover;
    border:1rem solid goldenrod;
}

.home .content h3{
    font-size: 4rem;
    color: goldenrod;
    text-transform: uppercase;
}

.home .content h3 span{
    color:#ddd;
    text-transform: uppercase;
}

.home .content p{
    color:#ddd;
    font-size: 2.5rem;
    line-height: 2;
}

.typing-text{
    color: goldenrod;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    text-align: center;
    flex:1 1 25rem;
}

.about .row .image img{
    width:30rem;
    border-radius: .5rem;
    border:1rem solid goldenrod;
    box-shadow: 0 .5rem 1rem var(--container-color);
}

.about .row .content{
    flex:1 1 55rem;
}

.about .row .content h3{
    color:#ddd;
    font-size: 4rem;
}

.about .row .content h3 span{
    color:goldenrod;
}

.about .row .content .info{
    color:#ddd;
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 2;
    font-weight: 500;
}

.about .row .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding:1rem 0;
}

.about .row .content .box-container .box{
    flex:1 1 20rem;
}

.about .row .content .box-container .box p{
    font-size: 1.7rem;
    color:#fff;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .box-container .box p span{
    color: gold;
    text-transform: uppercase;
    margin-right: 10px;
}

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.services .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    background: var(--container-color);
    padding:2rem;
    text-align: center;
    cursor: pointer;
}

.services .box-container .box i{
    color: goldenrod;
    font-size: 5rem;
    padding:1rem 0;
}

.services .box-container .box h3{
    color: goldenrod;
    font-size: 2.5rem;
    padding-top:1rem;
}

.services .box-container .box p{
    color:#ddd;
    font-size:1.7rem;
    padding:1rem 0;
    line-height: 2;
}

.portfolio .box_container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.portfolio .box_container .box_single{
    flex:1 1 30rem;
    border-radius: .5rem;
    border:1rem solid goldenrod;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
    overflow:hidden;
    height:25rem;
}

.portfolio .btn{
    background-color: goldenrod;
    color: #333;
}

.portfolio .box_container .box_single img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box_container .box_single .content{
    height: 100%;
    width:100%;
    position: absolute;
    top:0; left:-100%;
    background:#fff9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio .box_container .box_single:hover .content{
    left:0;
}

.portfolio .active {
    background-color: goldenrod;
    color: #333;
    border-color: #ddd;
}

.counter .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.counter .box-container .box-parent{
    flex: 1 1 20rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.counter .box-container .box{
    flex: 1 1 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.counter .box-container h5{
    font-size: 20px;
    color: #ddd;
    font-weight: 600;
}

.container_two{
    margin-top: 30px;
}

/* For ProgressBar */

.skill{
    width: 160px;
    height: 160px;
    position: relative;
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    background: #fff;
}

.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    background: var(--container-color);
    justify-content: center;
    align-items: center;
}

#number,
#numberTwo,
#numberThree,
#numberfour,
#numberfive,
#numbersix{
    font-weight: 600;
    color: #ddd;
    font-size: 17px;
}

.first circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

.second circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim2 2s linear forwards;
}

.third circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim3 2s linear forwards;
}

.fourth circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim4 2s linear forwards;
}

.fifth circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim5 2s linear forwards;
}

.sixth circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim6 2s linear forwards;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 70.8;
    }
}

@keyframes anim2{
    100%{
        stroke-dashoffset: 94.4;
    }
}

@keyframes anim3{
    100%{
        stroke-dashoffset: 236;
    }
}

@keyframes anim4{
    100%{
        stroke-dashoffset: 94.4;
    }
}

@keyframes anim5{
    100%{
        stroke-dashoffset: 283.2;
    }
}

@keyframes anim6{
    100%{
        stroke-dashoffset: 424.8;
    }
}


.contact .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex:1 1 40rem;
    padding:1rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    background:#fff;
}

.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form .inputBox input,
.contact .row form .box,
.contact .row form textarea{
    width:100%;
    border-radius: .5rem;
    font-size: 1.7rem;
    color:#333;
    padding:1rem;
    margin:1rem 0;
    border:.1rem solid rgba(0,0,0,.1);
    text-transform: none;
}

.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--green);
}

.contact .row form .inputBox input{
    width:49%;
}

.contact .row form textarea{
    height:20rem;
    resize: none;
}

.contact .row form .btn{
    margin:.5rem 0;
}

.footer{
    padding:2.5rem;
    font-size: 2rem;
    color:#666;
    background:#fff;
    text-align: center;
}

.footer span{
    color:var(--green);
}



/* media queries  */
 @media (max-width:991px){

    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }
    
    section{
        padding:2rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 4rem;
    }

    .contact .row form .inputBox input{
        width:100%;
    }

} 

@media screen and (max-width: 768px){
    .hamburger{
        display: block;
        z-index: 1000000;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        gap: 0;
        flex-direction: column;
        background-color: goldenrod;
        text-align: center;
        transition: 0.3s;
        z-index: 100000;
        padding: 70px 0 0 0;
    }

    .nav-item{
        margin: 20px 0;
    }

    .nav-menu.active{
        left: 0;
        padding: 70px 0 0 0;
    }

    .nav-branding{
        width: 100px;
        z-index: 10000000;
    }
}